# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# CMakeLists
build

# Executables
*.exe
*.out
*.app
bin

# Results and Statistics
results/result_*
stats/stats_*
stats/final_*
stats/chart_*

# Extras
.vscode
output_serial.txt
MPI/*
OpenMP/*

# CSV files too big (these are of course needed by client side)
dataset/collisions_[0-9]*.csv
dataset/original_collisions.csv