[Desktop Entry]
Encoding=UTF-8
Name=Link to k-means clustering - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/K-means_clustering
Icon=text-html
